body {background-color:tan;
	color: black
}
h1{color:grey;
font:verdana}

.maindiv{
background-color:white;
margin: auto;
color:black;
width:300px;
padding:20px;
border-radius:25px;


text-align: left
}
#rangeResult{
	width:20px;
	text-align:left;
	
}
table{
width:300px;
align-self:center;
margin:1px;
}
input{
max-width:100px;
}

#result{
text-align:left;
}
